/* src/components/ProdutoList.css */
.produto-list-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.produto-list-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Remover o ponto (bullet) da lista */
.produto-list-container ul {
  list-style-type: none; /* Adiciona esta linha */
  padding: 0;
}

.produto-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.produto-link-name {
  color: #007bff;
  font-weight: 700;
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
}

.produto-link {
  background-color: #eb9e34;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.produto-link:hover {
  color: #fff;
  background-color: #c27f21;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

.actions {
  float: right;
}

.produto-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.create-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  text-decoration: none;
  margin: 10px 0 0 10px;
}

.create-button:hover {
  background-color: #218838;
  color: #fff;
}
